.main-form-div {
    width: 400px;
    margin: 0 auto;
  }
  
  .form {
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .from-m {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'], input[type='email'], input[type='password'], input[type='number'], select {
    width: 92%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
  input[type='checkbox'] {
    margin-right: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: aqua;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #4ca2ff;
  }
  


  /* CSS for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 8px;
  }
  
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
  
  td:last-child {
    text-align: center;
  }
  
  tr:last-child td:last-child {
    border: none;
  }
  